In [33]:
import pandas as pd

In [79]:
data_file_1 = pd.read_csv("zomato.csv")

In [80]:
data_file_1.head(3)

,Unnamed: 0.1,Unnamed: 0,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,area,local address
0,0,0,#FeelTheROLL,Quick Bites,3.4,7,200.0,No,No,Fast Food,Bellandur,Bellandur
1,1,1,#L-81 Cafe,Quick Bites,3.9,48,400.0,Yes,No,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala",HSR
2,2,2,#refuel,Cafe,3.7,37,400.0,Yes,No,"Cafe, Beverages",Bannerghatta Road,Bannerghatta Road

removed the serial number column

In [82]:
data_file_1.drop(data_file_1.columns[0],axis=1,inplace=True)

In [83]:
data_file_1.head(2)

,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,area,local address
0,#FeelTheROLL,Quick Bites,3.4,7,200.0,No,No,Fast Food,Bellandur,Bellandur
1,#L-81 Cafe,Quick Bites,3.9,48,400.0,Yes,No,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala",HSR

In [84]:
data_file_1.isnull().sum()

restaurant name           0
restaurant type           0
rate (out of 5)          68
num of ratings            0
avg cost (two people)    57
online_order              0
table booking             0
cuisines type             0
area                      0
local address             0
dtype: int64

In [85]:
data_file_1["rate (out of 5)"] = data_file_1["rate (out of 5)"].fillna(0)

In [86]:
data_file_1.describe()

       rate (out of 5)  num of ratings  avg cost (two people)
count      7105.000000     7105.000000            7048.000000
mean          3.480619      188.921042             540.286464
std           0.574133      592.171049             462.902305
min           0.000000        1.000000              40.000000
25%           3.200000       16.000000             300.000000
50%           3.500000       40.000000             400.000000
75%           3.800000      128.000000             600.000000
max           4.900000    16345.000000            6000.000000

In [87]:
data_file_1.shape

(7105, 10)

In [88]:
data_file_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105 entries, 0 to 7104
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   restaurant name        7105 non-null   object
 1   restaurant type        7105 non-null   object
 2   rate (out of 5)        7105 non-null   float64
 3   num of ratings         7105 non-null   int64
 4   avg cost (two people)  7048 non-null   float64
 5   online_order           7105 non-null   object
 6   table booking          7105 non-null   object
 7   cuisines type          7105 non-null   object
 8   area                   7105 non-null   object
 9   local address          7105 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 555.2+ KB

In [89]:
def Boolean_Conversion(x):
    if x == "No":
        return 0
    else:
        return 1

In [90]:
data_file_1["table booking"] = data_file_1["table booking"].apply(Boolean_Conversion)

In [91]:
data_file_1["online_order"] = data_file_1["online_order"].apply(Boolean_Conversion)

In [92]:
data_file_1['online_order'] = data_file_1['online_order'].astype(bool)

In [93]:
data_file_1['table booking'] = data_file_1['table booking'].astype(bool)

In [94]:
data_file_1.head(5)

,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,area,local address
0,#FeelTheROLL,Quick Bites,3.4,7,200.0,False,False,Fast Food,Bellandur,Bellandur
1,#L-81 Cafe,Quick Bites,3.9,48,400.0,True,False,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala",HSR
2,#refuel,Cafe,3.7,37,400.0,True,False,"Cafe, Beverages",Bannerghatta Road,Bannerghatta Road
3,'@ Biryani Central,Casual Dining,2.7,135,550.0,True,False,"Biryani, Mughlai, Chinese",Marathahalli,Marathahalli
4,'@ The Bbq,Casual Dining,2.8,40,700.0,True,False,"BBQ, Continental, North Indian, Chinese, Bever...",Bellandur,Bellandur

In [95]:
data_file_1.drop(data_file_1.columns[-2],axis=1,inplace=True)

In [96]:
data_file_1.rename(columns={'num of ratings': 'Average Customer Per Week'}, inplace=True)

In [100]:
data_file_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105 entries, 0 to 7104
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   restaurant name            7105 non-null   object
 1   restaurant type            7105 non-null   object
 2   rate (out of 5)            7105 non-null   float64
 3   Average Customer Per Week  7105 non-null   int64
 4   avg cost (two people)      7048 non-null   float64
 5   online_order               7105 non-null   bool
 6   table booking              7105 non-null   bool
 7   cuisines type              7105 non-null   object
 8   local address              7105 non-null   object
 9   Average income per Week    7048 non-null   float64
dtypes: bool(2), float64(3), int64(1), object(4)
memory usage: 458.1+ KB

In [99]:
data_file_1['Average income per Week'] = data_file_1["Average Customer Per Week"] * data_file_1["avg cost (two people)"]

In [101]:
# Save DataFrame to CSV
data_file_1.to_csv('zomato_bangalore.csv', index=False)  # Set index=False to avoid saving the index